@(levels : List[Level])
@import template._
@import helper._
@temp_Master("Actualizar Nivel"){

<div class="container container-top col-md-9 col-xs-12s">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading style-icip">
                <h4 class="title-panel">Niveles registrados</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="table-view" class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Descripción</th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(levels != null){
                            @for(level <- levels){
                                <tr class="text-center">
                                    <td>@level.getName()</td>
                                    <td><button type="button" data-toggle="modal" data-target="#editModal" class="btn style-icip">Editar</button></td>
                                    @form(routes.MasterController.deleteLevel(level.getId())){
                                        <td><button id="btnDialog" class="btn style-icip">Eliminar</button></td>
                                    }
                                </tr> 
                            }
                        }                               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}