@(courses : List[Variable])
@import template._
@import helper._
@temp_Master("Actualizar Curso"){

<div class="container container-top col-md-9 col-xs-12s">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading style-icip">
                <h4 class="title-panel">Cursos registrados</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="table-view" class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Curso</th>
                                <th class="text-center">Área</th>
                                <th class="text-center">Nivel</th>
                                <th class="text-center">Tutor</th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(course <- courses){
                            <tr class="text-center">
                                <td>@course.getName()</td>
                                <td>@course.getArea()</td>
                                <td></td>
                                <td>@course.getTutor()</td>
                                <td><button id="btnDialog" class="btn style-icip">Editar</button></td>
                                <td><button id="btnDialog" class="btn style-icip">Eliminar</button></td>
                            </tr> }                               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

}
