@(tutors : List[Tutor])
@import template._
@import helper._
@temp_Master("Eliminar Tutores"){

<div class="container container-top col-md-9 col-xs-12s">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading style-icip">
                <h4 class="title-panel">Tutores registrados</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="table-view" class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Nombres</th>
                                <th class="text-center">Apellidos</th>
                                <th class="text-center">Usuario</th>
                                <th class="text-center">Administrador</th>
                                <th class="text-center">password</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(tutors != null){
                            @for(tutor <- tutors){
                                <tr class="text-center">
                                    <td>@tutor.getName()</td>
                                    <td>@tutor.getLast_name()</td>
                                    <td>@tutor.getUser_tutor()</td>
                                    @if(tutor.getAdmin() == null){
                                        <td>-</td>
                                    }else{
                                        <td>@tutor.getAdmin().getName()</td>
                                    }
                                    <td>@tutor.getPassword()</td>
                                    @form(routes.MasterController.deleteTutor(tutor.getId())){
                                        <td><button id="btnDialog" class="btn style-icip">Eliminar</button></td>
                                    }
                                </tr> 
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

}