@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/estilo.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
        <script type="text/javascript">
            window.alert = function() {};
        </script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid style-icip title-icip">
                    <a class="navbar-brand" href="#">ICIP</a>
                    <div>
                        <p class="navbar-text pull-right color-white">
                            <i class="fa fa-user color-white"></i><a href="#" class="navbar-link color-white a-none">&nbsp;&nbsp;&nbsp;&nbsp;Master Web&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <i class="fa fa-sign-out"></i><a href="#" class="navbar-link color-white a-none">&nbsp;&nbsp;&nbsp;&nbsp;Salir</a>
                        </p>
                    </div>
                </div>
            </nav>
        </header>     
        <section class="container">
            <div class="row">
                <aside class="col-xs-12 col-md-3">
                    <div class="panel-group a-none" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Administradores
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="fa fa-check"></i><a href="@routes.MasterController.createFormAdmin" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Nuevo Administrador</a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-times"></i><a href="@routes.MasterController.listOfAdmin" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Eliminar Administrador</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tutores
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="fa fa-check"></i><a href="@routes.MasterController.createFormTutor" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Nuevo Tutor</a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-times"></i><a href="@routes.MasterController.listOfTutor" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Eliminar Tutor</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-sort-numeric-asc"></i>&nbsp;&nbsp;&nbsp;&nbsp;Niveles
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="fa fa-check"></i><a href="@routes.MasterController.createFormLevel" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Nuevo Nivel</a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-hand-o-right"></i><a href="@routes.MasterController.editLevel" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Actualizar Nivel</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Áreas
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="fa fa-check"></i><a href="@routes.MasterController.createFormArea" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Nueva Área</a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-hand-o-right"></i><a href="@routes.MasterController.editArea" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Actualizar Área</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cursos
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="fa fa-check"></i><a href="@routes.MasterController.createFormCourse" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Nuevo Curso</a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-arrows-h"></i><a href="@routes.MasterController.unionCourse" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Vincular Curso</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-hand-o-right"></i><a href="@routes.MasterController.editCourse" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Actualizar Curso</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-server"></i>&nbsp;&nbsp;&nbsp;&nbsp;Temas
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="fa fa-check"></i><a href="@routes.MasterController.createFormTheme" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Nuevo Tema</a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-hand-o-right"></i><a href="@routes.MasterController.editTheme" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Actualizar Tema</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="a-none">
                                    <h4 class="panel-title title-icip color-white">
                                        <i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;Acerca de
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
                @content
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/javascript.js")" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>