@(pass:Form[Password])
@import template._
@import helper._

@temp_Tutor("Editar Cuenta"){
<section class="container">
    <div class="row">
        <aside class="col-xs-12 col-md-3">
            <div class="panel-group a-none" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading style-icip">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="a-none">
                            <h4 class="panel-title title-icip color-white">
                                <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Mi información
                            </h4>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        <i class="fa fa-user-plus"></i><a href="@routes.TutorController.editarInfo" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Editar Datos</a> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading style-icip">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="a-none">
                            <h4 class="panel-title title-icip color-white">
                                <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Mi Cuenta
                            </h4>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        <i class="fa fa-user-plus"></i><a href="@routes.TutorController.editarCuenta" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Cambiar Contraseña</a> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <article id="myContainer" class="col-xs-12 col-md-9">
            @form(routes.TutorController.updateCount()){
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-xs-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading style-icip">
                                <h3 class="panel-title title-icip">Cambiar Contraseña</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                            @helper.input(pass("old_pass"), '_showConstraints -> false,'_label -> "Password Antiguo:"){ (id, name, value, args) =>
            <input type="text" placeholder="Password anterior" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            }
                                        </div>
                                        <div class="form-group col-xs-12">
                                            @helper.input(pass("pass"), '_showConstraints -> false,'_label -> "Nuevo Password:"){ (id, name, value, args) =>
            <input type="text" placeholder="Ingrese password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            }
                                        </div>
                                        <div class="form-group col-xs-12">
                                            @helper.input(pass("re_pass"), '_showConstraints -> false,'_label -> "Repita Password:"){ (id, name, value, args) =>
            <input type="text" placeholder="Repita password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            }
                                        </div>
                                        </div>
                            </div>
                        </div>
                        <div class="float-center">
                            <button type="submit" class="btn button-icip button-icip-lg">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            }
        </article>
    </div>
</section>
}