@(reportes : List[Report])
@import template._
@temp_Tutor("Consulta de Entregas"){

<div class="container container-top">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading style-icip">
                <h4 class="title-panel">Tabla de Registro de Entregas</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="table-view" class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Tema</th>
                                <th class="text-center">Fecha Entrega</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(reporte <- reportes){
                                <tr id="pintado" class="text-center warning">
                                    <td>Archivos</td>
                                    <td>23/07/2015</td>
                                    <td>Pendiente</td>
                                    <td><button type="button" data-toggle="modal" data-target="#editModal" class="editar btn style-icip">Visualizar</button></td>
                                </tr> 
                            }                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header style-icip">
                <h4 class="modal-title">Editar Área</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label>URL Youtube:</label>
                        <br>
                        <input type="text" id="nameArea" class="form-control" placeholder="Ingrese url">
                    </div>
                    <div class="form-group col-xs-12">
                    <br>
                    </div>
                    <div class="form-group col-xs-12">
                        <label>URL Vimeo:</label>
                        <br>
                        <input type="text" id="nameArea" class="form-control" placeholder="Ingrese url">
                    </div>
                    <div class="form-group col-xs-12">
                    <br>
                    </div>
                    <div class="form-group col-xs-12">
                        <label>URL CloudBerry:</label>
                        <br>
                        <input type="text" id="nameArea" class="form-control" placeholder="Ingrese url">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="updateArea" type="button" class="btn style-icip truco">Actualizar</button>
                <button type="button" class="btn style-icip" data-dismiss="modal">Cancelar</button>
              </div>
        </div>
    </div>
</div>
}