@import template._
@temp_Void("Menu"){
<div id="container-menu">
    <a href="@routes.AdminController.menu">
        <div class="option" id="block1">
            <div class="icon-container">
                <i class="fa fa-home fa-3x color-white"></i>
            </div>
            <p class="color-white title-menu">Home</p>
        </div>
    </a>
    <a href="@routes.AdminController.reportes">
        <div class="option" id="block2">
            <div class="icon-container">
                <i class="fa fa-files-o fa-3x color-white"></i>
            </div>
            <p class="color-white title-menu">Entregables</p>
        </div>
    </a>
    <a href="@routes.AdminController.consultas">
        <div class="option" id="block3">
            <div class="icon-container">
                <i class="fa fa-calendar-o fa-3x color-white"></i>
            </div>
            <p class="color-white title-menu">Consultas</p>
        </div> 
    </a>
    <a href="">
        <div class="option" id="block4">
            <div class="icon-container">
                <i class="fa fa-bar-chart fa-3x color-white"></i>
            </div>
            <p class="color-white title-menu">Progreso</p>
        </div>
    </a>
    <a href="@routes.AdminController.indexCuenta">
        <div class="option" id="block5">
            <div class="icon-container">
                <i class="fa fa-user fa-3x color-white"></i>
            </div>
            <p class="color-white title-menu">Usuario</p>
        </div>
    </a>
</div>
}