@import template._
@temp_Admin("Editar Información"){
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid style-icip title-icip">
                <a class="navbar-brand" href="#">ICIP</a>
                <div>
                    <p class="navbar-text pull-right color-white">
                        <i class="fa fa-user color-white"></i><a href="#" class="navbar-link color-white a-none">&nbsp;&nbsp;&nbsp;&nbsp;Administrador&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <i class="fa fa-sign-out"></i><a href="#" class="navbar-link color-white a-none">&nbsp;&nbsp;&nbsp;&nbsp;Salir</a>
                    </p>
                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="row">
            <aside class="col-xs-12 col-md-3">
                <div class="panel-group a-none" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading style-icip">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="a-none">
                                <h4 class="panel-title title-icip color-white">
                                    <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Mi información
                                </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr>
                                        <td>
                                            <i class="fa fa-user-plus"></i><a href="@routes.AdminController.editarInfo" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Editar Datos</a> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading style-icip">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="a-none">
                                <h4 class="panel-title title-icip color-white">
                                    <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Mi Cuenta
                                </h4>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr>
                                        <td>
                                            <i class="fa fa-user-plus"></i><a href="@routes.AdminController.editarCuenta" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Cambiar Contraseña</a> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <article id="myContainer" class="col-xs-12 col-md-9">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-heading style-icip">
                                    <h3 class="panel-title title-icip">Mis Datos Personales</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label>Nombres:</label>
                                            <input type="text" class="form-control" placeholder="Nuevos nombres" required>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label>Apellidos:</label>
                                            <input type="text" class="form-control" placeholder="Nuevos apellidos" required>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label>E-mail:</label>
                                            <input type="text" class="form-control" placeholder="Nuevo correo" required>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label>Teléfono:</label>
                                            <input type="text" class="form-control" placeholder="Nuevo teléfono" required>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label>Domicilio:</label>
                                            <textarea class="form-control" rows="2" placeholder="Nuevo domicilio" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="float-center">
                                <button type="submit" class="btn button-icip button-icip-lg">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </section>
}