@import template._
@temp_Admin("Cuenta de Usuario"){
	<header>
        <nav class="navbar navbar-default">
            <div class="container-fluid style-icip title-icip">
                <a class="navbar-brand" href="#">ICIP</a>
                <div>
                    <p class="navbar-text pull-right color-white">
                        <i class="fa fa-user color-white"></i><a href="#" class="navbar-link color-white a-none">&nbsp;&nbsp;&nbsp;&nbsp;@session.get("user")&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <i class="fa fa-sign-out"></i><a href="/logout" class="navbar-link color-white a-none">&nbsp;&nbsp;&nbsp;&nbsp;Salir</a>
                    </p>
                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="row">
            <aside class="col-xs-12 col-md-3">
                <div class="panel-group a-none" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading style-icip">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="a-none">
                                <h4 class="panel-title title-icip color-white">
                                    <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Mi información
                                </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr>
                                        <td>
                                            <i class="fa fa-user-plus"></i><a href="@routes.AdminController.editarInfo" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Editar Datos</a> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading style-icip">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="a-none">
                                <h4 class="panel-title title-icip color-white">
                                    <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Mi Cuenta
                                </h4>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr>
                                        <td>
                                            <i class="fa fa-user-plus"></i><a href="@routes.AdminController.editarCuenta" class="a-none">&nbsp;&nbsp;&nbsp;&nbsp;Cambiar Contraseña</a> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
}